APP_NAME=vocabunny-core-api
APP_ENV=local

HTTP_PORT=8080
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=15s
HTTP_SHUTDOWN_TIMEOUT=10s

DB_HOST=localhost
DB_PORT=5433
DB_USER=vocabunny
DB_PASSWORD=XGSMPwH6PNbIVOo7Tlw1lcUtQevqS6xAfFvfVxAN
DB_NAME=vocabunny
DB_SSLMODE=disable
DB_MAX_IDLE_CONNS=10
DB_MAX_OPEN_CONNS=50
DB_CONN_MAX_LIFETIME=30m

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=change-me
JWT_ISSUER=vocabunny-core-api
JWT_AUDIENCE=vocabunny-clients
JWT_ACCESS_TOKEN_TTL=24h
JWT_REFRESH_TOKEN_TTL=720h

STORAGE_PROVIDER=local
STORAGE_BASE_PATH=./storage
STORAGE_BASE_URL=http://localhost:8080/storage
